* {
  box-sizing: border-box;
  text-align: center;
}

input {
  width: 25% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
}

.content{
   padding: 100px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    
}

.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.transactions-list {
  padding: 20px;
}

.table {
  width: 100%;
}

.sortable {
  cursor: pointer;
}

.sort-icon {
  margin-left: 0.5em;
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.page-info {
  font-size: 1em;
  font-weight: 500;
}

.pagination-button {
  margin: 0 10px;
}

